:root {
    --red_color: #BC3730;
    --white_color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


#about,
#themes,
#who-can-apply,
#award-categories,
#winners,
#our-jury,
#contact-us {
    scroll-margin-top: calc(var(--header-height) + 20px);
}
/* Add this CSS rule */
body.nav-open {
    overflow: hidden;
}

/* Header  */

/* header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header nav ul li a {
    display: inline-block !important;
    border-bottom: 1px solid transparent !important;
    transition: 0.4s all !important;
}

header nav ul li a:hover {
    border-bottom: 1px solid white !important;
}


.sticky-header {
    position: fixed;
    top: -200px;
    left: 0;
    width: 100%;
    background-color: var(--red_color);
    z-index: 1000;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sticky-header.visible {
    top: 0;
    background-color: var(--red_color);
}

.sticky-header.visible {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sticky-header .logo img {
    max-width: 200px;
}

.sticky-header nav ul li a {
    display: inline-block !important;
    border-bottom: 1px solid transparent;
    transition: 0.4s all;
}

.sticky-header nav ul li a:hover {
    border-bottom: 1px solid var(--white_color);
}

@media (max-width:991px) {
    header .navbar .navbar-collapse {
        background-color: black;
        border-radius: 0 0 10px 10px;
        margin-top: 10px;
        padding: 0 5px;
    }
    .sticky-header {
        top: -500px;
    }
    .sticky-header .navbar .navbar-collapse {
        background-color:  transparent;
    }
} */

/* Header Styles */

/* Header Styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

header.scrolled {
    background-color: var(--red_color);
  }

header.hide {
    top: -100px;
}
header .logo img {
    height: 40px;
}

header .toggle-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
}

header .toggle-btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

header .toggle-btn.open span:first-child {
    transform: rotate(45deg) translate(0px, 5px);
}

header .toggle-btn.open span:last-child {
    transform: rotate(-45deg) translate(0px, -5px);
}

header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    transition: height 0.5s ease-in-out; 
}

header .navbar.show {
    height: 100vh; 
}

header .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

header .navbar ul li {
    margin: 15px 0;
}

header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}


/* Header End  */

/* Banner Section Start */

.hero_section {
    position: relative;
    min-height: 700px;
    height: 100vh;
    overflow: hidden;
}

.hero_section .video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.hero_section .content {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero_section .content h1 {
    line-height: 1;
    max-width: 800px;
}

.hero_section .content h1 span {
    opacity: 0;
    animation: animate-letter 0.4s ease forwards;
}

@keyframes animate-letter {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero_section .content p {
    max-width: 700px;
}

.hero_section .content a {
    color: var(--white_color);
    background-color: var(--red_color);
}

.hero_section .logo {
    position: absolute;
    bottom: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 9;
    cursor: default;
}

.hero_section .logo img {
    width: 200px;
    margin-right: 50px;
}

.hero_section .logo .logo_inner {
    color: var(--white_color);
    background-color: var(--red_color);
    width: 100%;
    font-size: 20px;
    padding: 5px 25px;
    margin: 10px 0;
}

/* Banner Responsive Styles */

@media (max-width: 1399px) {
    .hero_section {
        height: 100vh;
    }

    .hero_section .content {
        top: 50%;
    }

    .hero_section .content h1 {
        font-size: 50px;
    }

    .hero_section .content p {
        font-size: 24px !important;
        margin: 15px auto !important;
    }

    .hero_section .content a {
        font-size: 24px !important;
        padding: 16px 32px !important;
        margin: 20px 0 !important;
    }

    .hero_section .logo img {
        width: 250px;
    }
}

@media (max-width:991px) {
    .hero_section .content {
        top: 45%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hero_section {
        height: 100vh;
    }

    .hero_section .content h1 {
        font-size: 48px;
    }

    .hero_section .content p {
        font-size: 20px;
    }

    .hero_section .content a {
        font-size: 20px;
        padding: 12px 24px;
    }

    .hero_section .logo img {
        width: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero_section {
        height: 100vh;
    }

    .hero_section .content h1 {
        font-size: 36px;
    }

    .hero_section .content p {
        font-size: 18px;
    }

    .hero_section .content a {
        font-size: 18px;
        padding: 10px 20px;
    }

    .hero_section .logo img {
        width: 150px;
    }

    .hero_section .logo {
        bottom: 15%;
    }
}

@media (max-width: 767px) {
    .hero_section {
        height: 100%;
    }

    .hero_section .video-background {
        filter: brightness(0.6);
    }

    .hero_section .content {
        margin-top: 70px;
        top: 35%;
    }

    .hero_section .content h1 {
        font-size: 40px;
    }

    .hero_section .content p {
        font-size: 16px;
    }

    .hero_section .content a {
        font-size: 16px;
        padding: 8px 16px;
    }

    .hero_section .logo img {
        width: 100px;
    }

    .hero_section .logo {
        bottom: 10%;
    }
}

@media (max-width:575px) {
    .hero_section .content h1 {
        font-size: 24px;
        line-height: 1.2;
    }

    .hero_section .content p,
    .hero_section .content span {
        margin: 10px 0 !important;
        font-size: 18px !important;
        font-weight: 300;
    }

    .hero_section .content a {
        font-size: 16px !important;
        margin: 20px 0 !important;
    }
}


/* Banner Section End */


/* Overview Section Start  */

.overview {
    margin: 50px 0;
}

.overview .overview_inner h2 {
    margin: 30px 0;
    font-size: 40px;
    max-width: 700px;
}

.overview .overview_inner div p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.overview .overview_inner img {
    width: 80%;
}

@media (max-width:767px) {
    .overview .overview_inner div p {
        text-align: left;
    }

    .overview .overview_inner img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (max-width:575px) {
    .overview .overview_inner h2 {
        font-size: 30px;
    }

    .overview .overview_inner div p {
        font-size: 16px;
    }
}



/* Categories Section Start */
.category-section {
    padding: 80px 20px;
    background-color: #f9f9f9;
}

.category-section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}


.category-section .category-items {
    padding: 15px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.category-section .category-items:hover {
    background-color: whitesmoke;
}

.category-section .category-items h2 {
    transition: 0.2s all;
}

.category-section .category-items:hover h2 {
    color: var(--red_color);
}

.category-items.active h2 {
    color: var(--red_color);
}

.category-section .category-items h2.item-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.category-section .category-items p {
    font-size: 16px;
    font-weight: light;
    color: #555;
    line-height: 1.6;
}

.category-section .circle_shape {
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--red_color);
    opacity: 0.3;
    border-radius: 50%;
    margin-left: 50px;
}

.category-section .categoryImage {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-section .categoryImage img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    animation: rotateImage 0.4s forwards ease-in-out;
}

@keyframes rotateImage {
    0% {
        transform: rotate(0deg) scale(0);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-10deg) scale(1);
    }
}


@media (max-width: 1100px) {
    .category-section .categoryImage {
        top: 0;
        left: 0;
        transform: translate(0);
    }
}

@media (max-width: 991px) {
    .category-section .category {
        margin-bottom: 30px;
    }

    .category-section .circle_shape {
        margin: 0;
        width: 300px;
        height: 300px;
    }

    .category-section .categoryImage {
        left: 50%;
        transform: translate(-50%);
    }
}

@media (max-width: 576px) {
    .category-section h2 {
        font-size: 32px;
    }

    .category-section .category-items h2.item-title {
        font-size: 20px;
    }

    .category-section .category-items p {
        font-size: 14px;
    }
}

@media (max-width:425px) {
    .category-section .categoryImage {
        width: 100%;
    }
}

@media (max-width:340px) {
    .category-section .circle_shape {
        width: 250px;
        height: 250px;
    }
}

/* Categories Section End */

/* Date Section Start  */

.date_section {
    padding: 80px 20px;
}

.date_section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.date_section .date_title {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-wrap: nowrap;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date_section p {
    color: #555;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

@media (max-width:767px) {
    .date_section h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }

}

/* Date Section End  */

/* Participate Section Start  */

.participate_sec {
    color: var(--white_color);
    padding: 50px 20px;
    min-height: 400px;
    display: flex;
    align-items: center;
    background: url(../images/Background\ Overlay.jpg) rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.participate_sec h2 {
    font-size: 38px;
}

.participate_sec p {
    font-size: 28px;
    font-weight: 200;
    max-width: 700px;
    margin: 20px 0;
}

.participate_sec span {
    font-size: 18px;
    font-weight: bold;
    color: var(--red_color);
}

/* Participate Section End  */


/* Services Section Start  */

.services_sec {
    margin: 70px 0;
}

.services_sec .services_title {
    text-align: center;
    margin-bottom: 50px;
}

.services_sec .services_content {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    cursor: default;
}

.services_sec .services_content:before {
    content: '';
    width: 0;
    height: 0;
    background-color: var(--red_color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 0.2s all ease-in-out;
}

.services_sec .services_content:hover:before {
    width: 280px;
    height: 280px;
    top: -18%;
    left: 12%;
}

.services_sec .services_content:after {
    content: '';
    width: 0;
    height: 0;
    background-color: var(--red_color);
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 60%;
    z-index: -1;
    transition: 0.2s all ease-in-out;
}

.services_sec .services_content:hover:after {
    width: 50px;
    height: 50px;
}

.services_sec .services_content .services_shape:before {
    content: '';
    width: 0;
    height: 0;
    background-color: var(--red_color);
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 85%;
    z-index: -1;
    transition: 0.2s all ease-in-out;
}

.services_sec .services_content:hover .services_shape:before {
    width: 40px;
    height: 40px;
}

.services_sec .services_content .services_shape:after {
    content: '';
    width: 0;
    height: 0;
    background-color: var(--red_color);
    border-radius: 50%;
    position: absolute;
    top: 95%;
    left: 80%;
    z-index: -1;
    transition: 0.2s all ease-in-out;
}

.services_sec .services_content:hover .services_shape:after {
    width: 30px;
    height: 30px;
}

.services_sec .services_content img {
    width: 80px;
    transition: 0.2s all;
}

.services_sec .services_content:hover img {
    filter: brightness(0) contrast(2) invert(1);
}

.services_sec .services_content p {
    max-width: 70%;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.2s all;
}

.services_sec .services_content:hover p {
    color: var(--white_color);
}


@media (max-width:1399px) {
    .services_sec .services_content:hover:before {
        left: 5%;
    }
}

@media (max-width:1199px) {
    .services_sec .services_content:hover:before {
        left: -4%;
    }
}

@media (max-width:991px) {
    .services_sec .services_content:hover:before {
        top: -15%;
        left: -6%;
    }
}

@media (max-width:767px) {
    .services_sec .services_content {
        max-width: 300px;
    }

    .services_sec .services_content:hover:before {
        left: 1%;
    }
}

@media (max-width:575px) {
    .services_sec .services_content:hover:before {
        width: 250px;
        height: 250px;
        top: -5%;
        left: 8%;
    }
}

@media (max-width:340px) {
    .services_sec .services_content:hover:before {
        left: 0;
    }
}

/* Services Section End  */

/* Client Section Start  */

.client_section {
    padding: 20px 0;
}

.client_section .client_title {
    text-align: center;
    margin-bottom: 40px;
}

.client_section .client_inner .client_items {
    margin: 20px 0;
}

.client_section .client_inner .client_items .row>* {
    padding: 0;
}

.client_section .client_inner .client_items h2 {
    font-size: 24px;
    display: inline-block;
    color: var(--white_color);
    background-color: var(--red_color);
    padding: 10px 25px;
    margin-bottom: 20px;
    border-radius: 0 30px 30px 0;
}

.client_section .client_inner .client_items .client_item_inner {
    margin: 10px 0;
}

.client_section .client_inner .client_items .client_item_inner img {
    width: 90%;
    border: 1px solid #eeeeee;
    filter: grayscale(1);
    transition: 0.2s all;
}

.client_section .client_inner .client_items .client_item_inner:hover img {
    filter: grayscale(0) saturate(1.5);
}

@media (max-width:575px) {
    .client_section .client_inner .client_items h2 {
        font-size: 18px;
    }

}

/* Client Section End */

/* Our Jury Section Start  */

.our_jury_sec {
    margin: 50px 0;
}

.our_jury_sec .our_jury_title {
    text-align: center;
    margin-bottom: 20px;
}

.our_jury_sec .our_jury_inner .our_jury_item {
    height: 100%;
    border: 1px solid grey;
    overflow: hidden;
    margin: 10px 0;
    cursor: default;
    position: relative;
    transition: 0.4s all;
}

.our_jury_sec .our_jury_inner .our_jury_item:hover {
    color: var(--white_color);
}

.our_jury_sec .our_jury_inner .our_jury_item .our_jury_shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: var(--red_color);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s all ease-in-out;
}

.our_jury_sec .our_jury_inner .our_jury_item:hover .our_jury_shape {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}

.our_jury_sec .our_jury_inner .our_jury_item h2 {
    font-size: 22px;
}

.our_jury_sec .our_jury_inner .our_jury_item p {
    line-height: 1.2;
    font-weight: 300;
}

.our_jury_sec .our_jury_inner .our_jury_item .social_icon a {
    color: #555;
}

.our_jury_sec .our_jury_inner .our_jury_item .social_icon a i {
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #555;
    border-radius: 50%;
    transition: 0.4s all;
}

.our_jury_sec .our_jury_inner .our_jury_item:hover .social_icon a i {
    color: var(--white_color);
    border-color: var(--white_color);
}

.our_jury_sec .our_jury_inner .our_jury_item .our_jury_image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding: 0;
}

.our_jury_sec .our_jury_inner .our_jury_item .our_jury_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.2s all ease-in-out;
}

.our_jury_sec .our_jury_inner .our_jury_item:hover .our_jury_image img {
    filter: grayscale(0);
    transform: scale(1.1);
}


/* Our Jury Section End  */

/* Footer Section Start  */

footer {
    color: var(--white_color);
    background-color: var(--red_color);
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

footer a img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

footer h2 {
    font-size: 20px;
}

footer a {
    color: white;
}

footer p {
    font-size: 16px;
    font-weight: 200;
}

footer .copyright {
    color: var(--white_color);
    background-color: black;
    padding: 20px 0;
}

footer .copyright p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

/* Footer Section End  */